.red {
    border: 2px solid #FF0000;
    grid-column:1/3;
}

.red.important{
    grid-column:1/span 3;
    grid-row:1;
}

.green{
    border: 2px solid #00FF00;
    grid-column:4/6;
}

.green.important{
    grid-column:3/span 3;
    grid-row:3;
}

.blue{
    border: 2px solid #0000FF;
    grid-column:7/9;
}

.blue.important{
    grid-column:6/span 3;
    grid-row:1;

}

html{
    background:url("https://cdn.discordapp.com/attachments/737368892346728538/746380447768117338/3wayrace_blank.png");
    background-repeat: no-repeat;
    background-size:auto;
    width:1920px;
    height:1080px;
}

video{
    border-radius:5px;
    width:100%;
    background-color:black;
}

.video-container{
    display:grid;
    grid-auto-flow:column;
    grid-template-columns: repeat(8,1fr);
    grid-gap:1%;
}